{% extends "base.html" %}

{% block html_lang %}{{ article.lang }}{% endblock %}

{% block title %}{{ article.title|striptags }} &middot; {{ SITENAME }}{% endblock %}

{% block content %}
<section id="content" class="body">
  <header>
    <h1 class="entry-title">{{ article.title }}</h1>
  </header>
  <div class="entry-content">
    {{ article.content }}
  </div>
  <footer class="post-info">
    Einsortiert in:
    <mark class="category">
      <a href="{{ SITEURL }}/{{ article.category.url }}">{{ article.category|title }}</a>
    </mark>
  </footer>
</section>
{% endblock content %}
