<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
<head>
{% block head %}
  <meta charset="utf-8">
  <meta name="generator" content="Pelican">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
  <link rel="stylesheet" href="https://latex.now.sh/style.min.css">
  <style>
    html {
      font-size: 1.2rem;
    }
    figcaption {
      text-align: center;
    }
    nav ul {
      padding: 0;
    }
    nav li {
      display: inline-block;
    }
    nav li:before {
      content: none;
    }
    nav li:after {
      content: " ► ";
    }
    footer {
      font-size: 0.9em;
      border-top: 1px dashed lightgray;
      margin-top: 2em;
    }
    footer mark {
      background-color: transparent;
    }
  </style>
{% endblock head %}
</head>
<body>
<button onclick="document.body.classList.toggle('latex-dark');" style="float:right;margin-top:.7rem;">🌓</button>

{% block content %}{% endblock %}

<nav>
  <ul>
{% for title, link in MENUITEMS %}
    <li><a href="{{ link }}">{{ title }}</a></li>
{% endfor %}
  </ul>
</nav>
</body>
</html>
