{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} &middot; Inhalte{% endblock %}

{% block content %}
<h1>{{ SITENAME }}</h1>
{% for category, articles in categories|sort %}
<h2>
  <a href="{{ SITEURL }}/{{ category.url }}">{{ category|title }}</a> ({{ articles|count }})
</h2>
{% endfor %}
{% endblock %}
