{% extends "base.html" %}

{% block title %}{{ SITENAME|striptags }} &middot; {{ category.name|title }}{% endblock %}

{% block content %}
<h1>Inhalte in <q>{{ category.name|title }}</q></h1>
{% for article in articles_page.object_list %}
<article>
  <h2>
    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
  </h2>
  <div>{{ article.summary }}</div>
</article>
{% endfor %}
{% endblock content %}
